openapi: 3.2.0
info:
  title: Import.io Report Run API
  description: 'The Import.io API (v2.0) provides programmatic access to create, manage, and run

    web data extractors, retrieve crawl run results, and manage reports.'
  version: '2.0'
  contact:
    name: Import.io Support
    url: https://help.import.io/
  license:
    name: Proprietary
    url: https://www.import.io/terms-of-use/
servers:
- url: https://api.import.io
  description: Production API
security:
- apiKeyAuth: []
tags:
- name: ReportRun
  description: Retrieve report run executions and their result files.
paths:
  /reportruns/:
    get:
      tags:
      - ReportRun
      summary: List report runs
      description: List all report runs across reports with optional filters.
      operationId: listReportRuns
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Sort'
      - $ref: '#/components/parameters/SortDirection'
      responses:
        '200':
          description: Array of report runs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReportRun'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /reportruns/{reportRunId}:
    get:
      tags:
      - ReportRun
      summary: Get report run
      description: Retrieve information about a specific report run.
      operationId: getReportRun
      parameters:
      - $ref: '#/components/parameters/ReportRunId'
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: Report run details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportRun'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /reportruns/{reportRunId}/{fileType}:
    get:
      tags:
      - ReportRun
      summary: Get report run results file
      description: Download the result file for a report run. JSON output is only available for Change reports.
      operationId: getReportRunFile
      parameters:
      - $ref: '#/components/parameters/ReportRunId'
      - name: fileType
        in: path
        required: true
        description: The file type to download.
        schema:
          type: string
          enum:
          - csv
          - xlsx
          - json
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: Result file
          content:
            text/csv: {}
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet: {}
            application/json: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication failed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    ReportRun:
      type: object
      properties:
        guid:
          type: string
          format: uuid
        name:
          type: string
        type:
          type: string
        status:
          type: string
        reportId:
          type: string
          format: uuid
        configId:
          type: string
          format: uuid
        extractorId:
          type: string
          format: uuid
        inputs:
          type: object
          additionalProperties: true
        csv:
          type: string
        json:
          type: string
        log:
          type: string
        pdf:
          type: string
        xlsx:
          type: string
        summary:
          type: object
          additionalProperties: true
        errorMessage:
          type: string
        archived:
          type: boolean
        _meta:
          $ref: '#/components/schemas/Meta'
    Meta:
      type: object
      description: Common metadata included on most resources.
      properties:
        createdAt:
          type: string
          format: date-time
        modifiedAt:
          type: string
          format: date-time
        ownerId:
          type: string
          format: uuid
        creatorId:
          type: string
          format: uuid
        editorId:
          type: string
          format: uuid
    Error:
      type: object
      properties:
        code:
          type: integer
          description: Internal error code.
        message:
          type: string
          description: Human-readable error description.
        error:
          type: string
          description: Deprecated error string.
          deprecated: true
  parameters:
    SortDirection:
      name: _sortDirection
      in: query
      required: false
      description: Sort direction.
      schema:
        type: string
        enum:
        - ASC
        - DESC
        default: DESC
    ApiKey:
      name: _apikey
      in: query
      required: true
      description: Your Import.io API key.
      schema:
        type: string
    Page:
      name: _page
      in: query
      required: false
      description: Page number to return (default 1).
      schema:
        type: integer
        default: 1
    Sort:
      name: _sort
      in: query
      required: false
      description: Field to sort by, e.g. `meta_created_at`.
      schema:
        type: string
    ReportRunId:
      name: reportRunId
      in: path
      required: true
      description: Unique identifier of the report run.
      schema:
        type: string
        format: uuid
    PerPage:
      name: _perpage
      in: query
      required: false
      description: Number of items to return per page.
      schema:
        type: integer
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: query
      name: _apikey
      description: API key obtained from the Import.io dashboard User Settings.
